
@{
    ViewData["Title"] = "About";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-secondary">
    <h2>About Historical Weather Data Search</h2>
    <div class="panel-heading">
        <div class="panel-body">

            <p>
                The historical data that is pulled is a reflection of the data
                found in National Weather Service's (NOAA)'s database. There may be cities that are listed in this website that have no data (I'm not sure why).
                Generally, the historical data goes back as far as the 1880 in some cases.
                This data is always being updated as each day goes by. Many large cities use data recorded
                at airports to measure their daily weather stats.
            </p>
            An example of how to use the tool follows.

            Example: Generate a report showing weather stats for Baltimore from 02/01/1975 to 02/10/1975.
            <br />
            Output:
            <br />
            <img src="~/Images/Example 1 search.png" style="width:800px;height:800px" width="300" height="300" alt="Baltimore Weather Stats" />
        </div>
    </div>
    </div>



