@section css {
    <link href="@Url.Content("~/css/iPhone.css")" rel="stylesheet" />
}

<h3>Historical Weather Search</h3>
<table class="mobile-table">
    <tr>
        <td>
            <i style="margin-left:25px" class="fas fa-directions fa-2x"></i>
        </td>
        <td>
            <span class="ExtremeInstructions">Enter search parameters </span>
        </td>
    </tr>
    <tr>
        <td>
            <i style="margin-left:25px;display:none" class="fas fa-directions fa-2x"></i>
        </td>
        <td>
            <span class="ExtremeInstructions">then click 'Submit'. After clicking 'Submit', a summary along with the data will appear below.</span>
        </td>

    </tr>
</table>

<div id="HistorySearchPanel" class="container">
    <br />

    @*<div class="row">
        <div class="col-xs-2">
            <span class="fa-stack fa-2x">
                <i class="fas fa-square fa-stack-2x fa-inverse"></i>
                <i class="fas fa-ruler fa-stack-1x"></i>
            </span>
        </div>
        <div class="col-xs-9 col-xs-offset-1">
            <span class="ExtremeReport2Text">City size to select from?</span>

            <select style="display:inline" id="CityScope" class="selectpicker" data-width="90%">
                <option value="MidSize">List midsized/major U.S. cities only</option>
                <option value="Major">List major U.S. cities only</option>
                <option value="SmallSized">List all U.S. cities (data may be limited)</option>
            </select>

        </div>
    </div>*@

    <br />

    <div class="row">
        <div class="col-xs-2">
            <span class="fa-stack fa-2x">
                <i class="fas fa-square fa-stack-2x fa-inverse"></i>
                <i class="fas fa-city fa-stack-1x"></i>
            </span>
        </div>
        <div class="col-xs-9 col-xs-offset-1">
            <span class="ExtremeReport2Text">Select a city</span>
            <select id="CityPicker" class="selectpicker" data-live-search="true" data-width="90%" name="CityId" title="Select City" required></select>
        </div>

    </div>
    <div class="row">
        <div class="col-xs-2">

        </div>
        <div class="col-xs-1 col-xs-offset-1">
            <span id="cityDataAvailableInfoIcon" class="fa-stack" style="display:none;">
                <i class="fas fa-circle fa-stack-2x fa-inverse"></i>
                <i class="fas fa-info fa-stack-1x"></i>
            </span>
        </div>
        <div class="col-xs-7">
            <span id="CityMetaDataAlert" class="text-info"></span>
        </div>

    </div>
    <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-9 col-xs-offset-1">
            <span id="CityMetaDataAlert2" class="text-info"></span>
        </div>

        @*<td>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="CityMetaDataAlert2" style="font-weight:bolder;margin-left:12px" class="text-info"></span>
            </td>*@
    </div>
    <div class="row">
        <div class="col-xs-11">
            <p class="Error" id="HisErr1"></p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            <span class="fa-stack fa-2x">
                <i class="fas fa-square fa-stack-2x fa-inverse"></i>
                <i class="fas fa-calendar-times fa-stack-1x"></i>
            </span>
        </div>
        <div class="col-xs-2 col-xs-offset-1">
            <span class="ExtremeReport2Text">From:</span>
            <p class="ExtremeReport2Text">To:</p>

        </div>
        <div class="col-xs-7">
            <input type="date" class="change2" id="datepickerReport2From" name="datepickerReport2From" placeholder="mm/dd/yyyy" required>
            <input type="date" class="change2" id="datepickerReport2To" name="datepickerReport2To" placeholder="mm/dd/yyyy" required>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-10">
            <p class="Error" id="HisErr2"></p>
            <p class="Error" id="HisErr3"></p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            <span class="fa-stack fa-2x">
                <i class="fas fa-square fa-stack-2x fa-inverse"></i>
                <i class="fas fa-filter fa-stack-1x"></i>
            </span>
        </div>
        <div class="col-xs-9 col-xs-offset-1">
            <span class="ExtremeReport2Text">
                Add additional filters
            </span>
            <span class="ExtremeReport2Text">
                (optional)
            </span>
            <button id="FilterButton" type="button" class="btn btn-default btn-sm" onclick="FilterOnOff();" data-toggle="collapse">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-9 col-xs-offset-1">
            <label class="filterLabel" style="display:none">(example: Where high temp is greater</label>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-9 col-xs-offset-1">
            <label class="filterLabel" style="display:none">than 80 degrees)</label>
        </div>
    </div>

    <table id="filterTable" style="display:none;margin-right:5px">
        <tr>
            <td class="firstFilterColumn"></td>
            <td>
                <button type="button" class="ClearButton" id="ClearBtn1">Clear</button>
            </td>
            <td>
                <select style="display:inline" id="Metric1" class="selectpicker"
                        data-width="80px" name="Metric1" title="Metric">
                    <option value="None"></option>
                    <option value="Snowfall">Snowfall</option>
                    <option value="Precipitation">Precipitation</option>
                    <option value="HighTemp">High Temp</option>
                    <option value="LowTemp">Low Temp</option>

                </select>
            </td>
            <td>
                <select style="display:inline" id="Operator1" class="selectpicker"
                        data-width="95px" name="Operator1" title="Operator">

                    <option value="None"></option>
                    <option value="GreaterThan">GreaterThan( > )</option>
                    <option value="LessThan">LessThan( < )</option>
                    <option value="LessThanOrEqualTo">Less Than or equal to ( <= )</option>
                    <option value="GreaterThanOrEqualTo">Greater than or equal to ( >= )</option>
                    <option value="Equals">Equals ( = )</option>

                </select>
            </td>
            <td>
                <input id="MetricValue1" type="text" class="form-control" placeholder="#" data-width="50px">
            </td>
        </tr>
        <tr>
            <td class="firstFilterColumn"></td>
            <td>
                <button type="button" class="ClearButton" id="ClearBtn2">Clear</button>
            </td>
            <td>
                <select style="display:inline" id="Metric2" class="selectpicker"
                        data-width="80px" name="Metric2" title="Metric">

                    <option value="None"></option>
                    <option value="Snowfall">Snowfall</option>
                    <option value="Precipitation">Precipitation</option>
                    <option value="HighTemp">High Temp</option>
                    <option value="LowTemp">Low Temp</option>

                </select>
            </td>
            <td>
                <select style="display:inline" id="Operator2" class="selectpicker"
                        data-width="95px" name="Operator2" title="Operator">

                    <option value="None"></option>
                    <option value="GreaterThan">GreaterThan( > )</option>
                    <option value="LessThan">LessThan( < )</option>
                    <option value="LessThanOrEqualTo">Less Than or equal to ( <= )</option>
                    <option value="GreaterThanOrEqualTo">Greater than or equal to ( >= )</option>
                    <option value="Equals">Equals ( = )</option>

                </select>
            </td>
            <td>
                <input id="MetricValue2" type="text" class="form-control" placeholder="#" data-width="50px">
            </td>
        </tr>
        <tr>
            <td class="firstFilterColumn"></td>
            <td>
                <button class="ClearButton" type="button" id="ClearBtn3">Clear</button>
            </td>
            <td>
                <select style="display:inline" id="Metric3" class="selectpicker"
                        data-width="80px" name="Metric3" title="Metric">
                    <option value="None"></option>
                    <option value="Snowfall">Snowfall</option>
                    <option value="Precipitation">Precipitation</option>
                    <option value="HighTemp">High Temp</option>
                    <option value="LowTemp">Low Temp</option>
                </select>
            </td>
            <td>
                <select style="display:inline" id="Operator3" class="selectpicker"
                        data-width="95px" name="Operator3" title="Operator">

                    <option value="None"></option>
                    <option value="GreaterThan">GreaterThan( > )</option>
                    <option value="LessThan">LessThan( < )</option>
                    <option value="LessThanOrEqualTo">Less Than or equal to ( <= )</option>
                    <option value="GreaterThanOrEqualTo">Greater than or equal to ( >= )</option>
                    <option value="Equals">Equals ( = )</option>

                </select>
            </td>
            <td>
                <input id="MetricValue3" type="text" class="form-control" placeholder="#" data-width="50px">
            </td>
        </tr>
    </table>

    <button type="button" id="btnSubmit">
        Generate Report >>
        <i class="fas fa-arrow-circle-down"></i>
    </button>
    <br />
</div>
<br /><br />
<div id="ProgressBar" class="col-sm-10 panel panel-default" style="margin-left:25px;border:none;display:none;">
    <div class="row">
        <div class='col-sm-6'>
            <div class="progress">
                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                </div>
            </div>
        </div>
        <div class='col-sm-4'>
            <div id="THELOADER" class="loader"></div>
        </div>

    </div>
</div>

<div id="Summary" class="col-sm-12 panel panel-default">


</div>

<div id="Details" class="col-sm-12 panel panel-default" style="border-radius:20px;margin-left:25px;">

</div>

<script>
    src = "~/lib/bootstrap / dist / js / bootstrap.js"
</script>
