
@{
    ViewData["Title"] = "About weather search";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-secondary">
    <h2>About extreme weather search</h2>
    <div class="panel-heading">
        <div class="panel-body">

            <p>
                Extreme weather searches consist of several reports. Each report is described below along with illustrations
                depicting the kind of data they present.
            </p>

            <h3>TopX Days Extreme Weather Report</h3>
            <p>
                The Topx Days Extreme Weather report finds the top x (fill in a number) of days that a certain event has occurred for a selected city.
                The ranking can be for all of time since record keeping began, or the ranking can be limited to within a chosen time frame.
                Each day is ranked according to how extreme it's weather was compared to the other days in the ranking.

            <p>
                The types of extreme weather for which the days are ranked are as follows:
                <ul>
                    <li>Snowiest days</li>
                    <li>Wettest days</li>
                    <li>Days with warmest highs</li>
                    <li>Days with warmest lows</li>
                    <li>Days with coldest highs</li>
                    <li>Days with coldest lows</li>
                </ul>
            </p>

            <p>
                As examples, a report can show:
                <ol>
                    <li>The top 10 snowiest days in Boston, MA, or</li>
                    <li>the top 7 Days with the lowest high temperature in Philadelphia, PA, or</li>
                    <li>the top 10 days with the coldest highs in Sacramento, CA from February 1, 1975 through February 1, 2020.</li>
                </ol>
            </p>
            <p>
                Depictions below illustrate how reports (listed above) appear.
            </p>
            <h4>
                Example 1: Generate a report showing the top 10 snowiest days in Boston, MA
            </h4>
            <p>
                After completing the parameters for this report, the parameters appear as follows:
            </p>
            <img src="~/Images/TopX Input Example.png" id="Example1-1" style="width:90%;height:300px" alt="Boston Weather Stats" />
            <br />
            Upon generation, the report appears as follows:
            <br />
            <img src="~/Images/TopX Output 1.png" id="Example1-2" style="width:90%;height:300px" alt="Boston Top 10 Snowiest Days" />
            <br />
            <img src="~/Images/TopX Output 2.png" id="Example1-3" style="width:90%;height:300px" alt="Boston Top 10 Snowiest Days" />

            <h4>
                Example 2: Generate a report showing top 7 Days with the coldest high temperature in Philadelphia, PA
            </h4>
            <p>
                After completing the parameters for this report, the parameters appear as follows:
            </p>
            <img src="~/Images/TopX Input Example 2.png" id="Example2-1" style="width:90%;height:300px" alt="Boston Weather Stats" />
            <br />
            Upon generation, the report appears as follows:
            <br />
            <img src="~/Images/TopX Output 2-1.png" id="Example2-2" style="width:90%;height:300px" alt="Philadelphia Top 7 Days with Coldest Highs" />
            <br />
            <img src="~/Images/TopX Output 2-2.png" id="Example2-3" style="width:90%;height:300px" alt="Philadelphia Top 7 Days with Coldest Highs" />

            <h4>
                Example 3: Generate a report showing the top 10 days with the coldest highs in Sacramento, CA from February 1, 1975 through February 1, 2020
            </h4>
            <p>
                After completing the parameters for this report, the parameters appear as follows:
            </p>
            <img src="~/Images/TopX Input Example 3.png" id="Example3-1" style="width:90%;height:300px" alt="Boston Weather Stats" />
            <br />
            Upon generation, the report appears as follows:
            <br />
            <img src="~/Images/TopX Output 3-1.png" id="Example3-2" style="width:90%;height:300px" alt="Philadelphia Top 7 Days with Coldest Highs" />
            <br />
            <img src="~/Images/TopX Output 3-2.png" id="Example3-3" style="width:90%;height:300px" alt="Philadelphia Top 7 Days with Coldest Highs" />



        </div>
    </div>
</div>


