
@{
    ViewData["Title"] = "About weather search";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-secondary">
    <h2>About extreme weather search</h2>
    <div class="panel-heading">
        <div class="panel-body">

            <p>
                The extreme weather search results in "The Top (Fill in the number) (Fill in the blank) days in the city of (Fill in the blank). For example, 
                For example, "The top 5 snowiest days in Baltimore", or the "Top 7 Days with the lowest high temperature in Philadelphia", or the "Top 10 days with the coldest highs in Sacramento" etc. 
            </p>
            An example of how to use the tool follows.

            Example: Generate a report showing the top 10 snowiest days in Boston:
            <br />
            Output:
            <br />
            <img src="~/Images/Extreme Weather Search 1.png" style="width:800px;height:800px" width="300" height="300" alt="Baltimore Weather Stats" />
        </div>
    </div>
</div>


