<div class=".container">

    <div class="row">
        <div class="col-xs-1">
        </div>
        <div class="col-xs-2">
            <i class="fas fa-list-ol fa-2x"></i>
        </div>
        <div class="col-xs-8">
            <span class="ReportTitle">Top X Days Weather Report</span>
        </div>

    </div>
    <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-9">
            <h5>Example: What are the top 10 coldest days in Boston?</h5>
            <h5>Example2: What are the top 5 snowiest days in Seattle?</h5>
        </div>
    </div>
</div>
<hr style="width:100%;"/>
<br />
<br />
<div class=".container">
    <div class="row">
        <div class="col-xs-1">
        </div>
        <div class="col-xs-1"><i class="fas fa-directions fa-2x"></i></div>
        <div class="col-xs-9">
            <span class="ExtremeInstructions">Complete parameters below then click 'Generate Report'</span>
        </div>
    </div>
</div>
<div id="ExtremeInstructionsPanel" class=".container">
    <br />
    <div class="row">
        <div class="col-xs-2">
            <span class="fa-stack fa-2x">
                <i class="fas fa-square fa-stack-2x fa-inverse"></i>
                <i class="fas fa-list-ol fa-stack-1x"></i>
            </span>
        </div>
        <div class="col-xs-10">
            <span class="ExtremeReportText">Find the top</span>
            <input id="TopnReport2" type="text" class="change" placeholder="Enter a number">
            <span class="ExtremeReportText">days</span>
        </div>


    </div>
    <br />
    <div class="row">
        <div class="col-xs-2">
            <span class="fa-stack fa-2x">
                <i class="fas fa-square fa-stack-2x fa-inverse"></i>
                <i class="fas fa-cloud-sun-rain fa-stack-1x"></i>
            </span>
        </div>
        <div class="col-xs-10">
            <span class="ExtremeReportText">with the</span>
            <select id="xtremeWx2" class="selectpicker" data-live-search="true" data-width="fit" title="Select weather parameter">
                <option class="cityList" value="Snowiest">Snowiest days</option>
                <option class="cityList" value="Wettest">Wettest days</option>
                <option class="cityList" value="Warmest Highs">Days with warmest highs</option>
                <option class="cityList" value="Warmest Lows">Days with warmest lows</option>
                <option class="cityList" value="Coldest Highs">Days with coldest highs</option>
                <option class="cityList" value="Coldest Lows">Days with coldest lows</option>
            </select>
        </div>

    </div>
    <br />
    <div class="row">
        <div class="col-xs-2">
            <span class="fa-stack fa-2x">
                <i class="fas fa-square fa-stack-2x fa-inverse"></i>
                <i class="fas fa-city fa-stack-1x"></i>
            </span>
        </div>
        <div class="col-xs-10">
            <span class="ExtremeReportText">in the city of </span>
            <select style="display:inline" id="CityPicker2" class="selectpicker text-nowrap" data-live-search="true" data-width="fit" name="CityId" title="Select a City..." required></select>
        </div>

    </div>
    <br />
    <div class="row">
        <div class="col-xs-2">
            <span class="fa-stack fa-2x">
                <i class="fas fa-square fa-stack-2x  fa-inverse"></i>
                <i class="fas fa-clock fa-stack-1x"></i>
            </span>
        </div>
        <div class="col-xs-10">
            <span class="ExtremeReportText">Generate report for specific time frame?</span>
            <label class="ExtremeReportText"><input type="radio" name="optyesnoTopXMobile" value="yes" />Yes</label>
            <label class="ExtremeReportText"><input type="radio" name="optyesnoTopXMobile" value="no" checked />No</label>
        </div>
    </div>
    <br />
    <div class="row" id="TopXReportMobileTimeInputs" style="display:none;">
        <div class="col-xs-2">
            <span class="fa-stack fa-2x">
                <i class="fas fa-square fa-stack-2x fa-inverse"></i>
                <i class="fas fa-business-time fa-stack-1x"></i>
            </span>
        </div>
        <div class="col-xs-10">
            <span class="ExtremeReportText">during the time period of</span>
            <br />
            <input type="date" class="change2" id="datepickerReport2From" name="datepickerReport2From" placeholder="mm/dd/yyyy" required>
            <span class="ExtremeReportText">To</span>
            <input type="date" class="change2" id="datepickerReport2To" name="datepickerReport2To" placeholder="mm/dd/yyyy" required>
        </div>
    </div>
    
    <div class="row" id="SubmitDiv">
        <div class="col-xs-2"><span></span></div>
        <div class="col-xs-8">
            <button type="button" id="btnSubmit2">Generate Report >><i class="fas fa-arrow-circle-down"></i>
            </button>
        </div>
    </div>


        <span class="Error" id="ExtremeError1"></span>

        <span class="Error" id="ExtremeError2"></span>
        <span class="Error" id="ExtremeError3"></span>
        <span class="Error" id="ExtremeError4"></span>
        <span class="Error" id="ExtremeError5"></span>

    </div> @* End of parameters panel*@
<div id="ProgressBar" class="col-sm-10 panel panel-default" style="margin-left:25px;border:none;display:none;">
    <div class="row">
        <div class='col-sm-6'>
            <div class="progress">
                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                </div>
            </div>
        </div>
        <div class='col-sm-4'>
            <div id="THELOADER" class="loader"></div>
        </div>

    </div>
</div>

<br /><br />


<div id="ExtremeReport2DisplayPanel" class="col-sm-12 panel panel-default" style="display:none;border-radius:20px;border-color:deepskyblue;margin-left:25px;">
    <div class="row">
        <div id="Summary"></div>
    </div>

    <div class="row">
        <div id="Container"></div>
    </div>
</div>




