
@{
    ViewData["Title"] = "UnderConstruction";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bgimg">
    
    <div class="middle">
        <h1 style="color:deepskyblue;font-size:35px;font-family:Broadway;font-weight:bolder">COMING SOON</h1>
        <hr>
        <p id="demo" style="font-size:30px;margin-left:50px;font-weight:bolder"></p>
    </div>
    
</div>