/*#ExtremeInstructionsPanel > .row > .col-xs-2 {
    paint-order: 0px 2px 0px 2px;
    
}*/
/* Space between Font-Awesome icons and instruction text*/
#ExtremeInstructionsPanel > .row > .col-xs-10 {
    padding-left:20px;
}

/* Entire paramenters panel for TopX report*/
#ExtremeInstructionsPanel {
    background-color: lightblue;
    
}

/* TopX report title*/
.ReportTitle {
    
    color: black;
    font-family: sans-serif;
    font-size: 28px;
    font-weight: bolder;
}

/* Text box to enter top x number*/
#TopnReport2 {
    background-color: white;
    color: silver;
    width: 100px;
    font-size: 12px;
    border-radius: 5px;
}

/* To target the font-awesome icons */
/*.col-xs-2 > span
{
   margin-left: 5px; 
}*/

.ExtremeReportText
{
    font-family: Arial;
    font-weight: bold;
    font-size:18px;
    width:90%;
}

/* Placeholder text for text box in TopX report*/
.change::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: black;
    font-size: 12px;
}

/* Submit button for TopX report*/
#btnSubmit2 {
    margin-top: 20px;
    color: #ff6961;
    background-color: white;
    margin-left: 1px;
}

/* Dropdown showing list of options (extreme weather parameters) to select from */
.dropdown-menu {
    right:initial;
}

#HistorySearchPanel {
    border-radius: 20px;
    /*margin-top:25px;*/
    margin-left: 25px;
    background-color: lightblue;
    width: 95%;
}

.ExtremeReport2Text {
    font-family: Arial;
    font-size: 14px;
    color: black;
    font-weight: bold;
    
}


#EntireDatepicker, #EntireDatepicker2 {
    /*float: left;*/
    border-radius: 5px;
    width: 90%;

}

#EntireDatepicker input[type='text'], #EntireDatepicker2 input[type='text'] {
   /*float: left;*/
   border-radius: 5px;
   width: 100%;
}

/* This slides the menu with the options to the left, along with each item*/
.bootstrap-select .dropdown-menu {
    margin-left: -100px !important;
}

.bootstrap-select .dropdown-menu li a{
    margin-left: 100px !important;
}

.datepicker .datepicker-dropdown
{margin-left:100px !important}

.datepicker .datepicker-dropdown .dropdown-menu .datepicker-orient-right .datepicker-orient-bottom {
        position: absolute;
        top: 100px !important;
        left: 100px !important;
}

#MetricValue1, #MetricValue2, #MetricValue3 {
    color: silver;
    display: inline;
    width: 50px;
}
#btnYearToYearAvgSubmit {
    margin: 0;
    color: #ff6961;
}

#fromYearReport1,#toYearReport1
{
    width:100%;
}

#cityDataAvailableInfoIcon {
    margin-left: 0;
}

.CityMetaDataAlert {
    font-size: 14px;
    font-family: Arial;
    font-weight: bold;
}

#CityMetaDataAlert2.CityMetaDataAlert {
    margin-left: 100px;
}

#Report2ToDate {
    width:90%;
    display: inline;
    border-radius: 3px;
}

    /*#Report2FromDate input[type='text'] {
        width: 80%;
        border-radius: 5px;
        margin-left:5px;
    }*/
/*#Report2ToDate input[type='text'] {
    width: 80%;
    border-radius: 5px;
}*/

#Report2FromDate {
    width: 90%;
    display: inline;
    border-radius: 3px;
    margin-left: 5px;
}

#From, #Find, #FilterParamInstruction, #ClickToAdd {
margin-left: 5px;
}

#valueType2
{

}

