/*#CarouselHeader1 {
        background-color: lavender;
        font-size: 20px;
        font-weight: bold;
        font-family: Arial;
        color: black;
        margin-left:1em;
}*/

#Intro {
    height:100%;
}

.ExtremeReportText {
    font-size: 16px;
    font-family: Arial;
    /*margin-left: 10px;*/
}

#ExtremeReport2Text
{
    font-size:5px;
    font-weight:bolder;
    font-family:Arial;
    margin-left:4em;
}

.mobile-table
{
    border:none;
}

#datepicker,#datepicker2{
    float:left;
    border-radius:5px;
    width:80%;
}

/*#datepickerReport2From, #datepickerReport2To {
    border-radius: 5px;
    width: 25px;
    height: 26px;
}*/

#CityPicker
{
    font-size:10px;
}

/* Each and every item in a bootstrap select picker*/
.cityList {
    background: lightblue;
    color: black !important;
    font-weight: bold !important;
    font-size:14px;
}

ExtremeReport1DisplayPanel {
    /*background-color: lightblue;
    margin-left: 25px;
    border-radius: 20px;
    border: solid lightblue;*/
    background-color: lightblue;
    margin: 25px 25px 25px 25px;
    border-radius: 20px;
    border: solid lightblue;
}

#WelcomeTo {
    font-size: 10px;
    color: white;
    font-family: Broadway;
}

#Container{
    background-color:lavender;
}

img {
    border-radius: 5px;
    /*margin-left: 2px;*/
    width: 60px;
    height: 60px;
    

}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10px;
    font-family: fantasy;
    font-weight: bolder;
}

.centered-fall {
    color: orange;
    
}

.centered-summer {
    color: gold;
}

.centered-winter {
    color: whitesmoke;
}

.centered-spring {
    color: #db5079;
}

/*table{
    border:none;
    margin-left:2px;
}*/


#CarouselHeader2,#CarouselHeader3 {
    font-size: 14px;
    font-family: Arial;
    font-weight: bold;
}

header {
    /*float: none;*/
    margin: 0 auto;
    margin-top: 1em;
    height: 30%;
    width: 100%;
    background-color: #006699;
    border-radius: .5em;
    font-size: 14px;
    font-family: fantasy;
    color: deepskyblue;
}

/* Container that holds all buttons "Learn More" and "Search Now"*/
#Intro {
    float: none;
    margin: 0 auto;
    margin-top: 1em;
    height: 30%;
    width: 100%;
    background-color: #006699;
    border-radius: .5em;
    font-size: 14px;
    font-family: fantasy;
    color: deepskyblue;
}

.navbar-brand {
    /*padding: 0 15px;*/
    margin-left:2px;
    height: 50px;
    line-height: 20px;
}

.navbar-brand > img {
    /*padding: 0 15px;*/
    margin-left: 0px;
    
}


.HistoricalSearch {
    color: lavender;
}

.ExtremeSearch {
    color: silver;
}

.Climatologysearch {
    color: #db5079;
}

.HistoricalSearch, .ExtremeSearch, .Climatologysearch {
    font-size: 22px;
    font-family: Broadway;
}

.HistoricalSearch + ul li, .ExtremeSearch + ul li, .Climatologysearch + ul li {
        margin: 0;
        margin-bottom: 5px;
}

.HistoricalSearch + ul li a, .ExtremeSearch + ul li a, .Climatologysearch + ul li a {
    background-color: white;
    color: #006699;
    font-size: 14px;
    font-family: arial;
    font-weight: bolder;
}

.input-group-addon
{
    float:left;
    width:15%;
    /*display:inline;*/
}

h3 {
    font-family: Arial;
    color: black;
    margin-left: 25px;
    text-shadow: 2px 2px;
    font-weight:bold;
}

#filterStuff {
    background-color:red;
    width:100%;

}


/*.filterLabel{
    display:initial;
    float:left;
    font-size:14px;
}*/

.firstFilterColumn
{width: 75px;}

#MetricValue1, #MetricValue2, #MetricValue3 {
    color: silver;
    display: inline;
    width: 75px;
}

.bootstrap-select.btn-group .dropdown-toggle .filter-option {
    color: silver;
    background-color:white;
}

/* Dropdown showing list of options (extreme weather parameters) to select from */
.bootstrap-select .dropdown-menu {
    margin-left: 10px;
    
}

.bootstrap-select .btn {
    color: black;
}

#CityMetaDataAlert2 {
    
    font-size: 14px;
    font-family: Arial;
    font-weight: bolder;
}

/* Text for History report instructions*/
.ExtremeReport2Text {
    font-family: Arial;
    font-size: 20px;
    color: black;
    font-weight: bolder;
}

#TopnReport2 {
    background-color: white;
    color: silver;
    width: 125px;
    font-size: 20px;
    border-radius:5px;
}

/* Placeholder text for text box in TopX report*/
.change::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: silver;
    font-size: 12px;
}


#xtremeWx2 {
    color: silver;
    background-color: white;
    margin-left:5px;
}

/**/
.bootstrap-select .btn {
    color: black;
    height:30px;
    margin-left:2px;
}

/* for title at top of topx report*/

/* TopX report title*/
.ReportTitle
{
    text-shadow: 2px 2px;
    color:black;
    font-family:Arial;
    font-size:28px;
    font-weight:bolder;

}

/* datepickers in TopX report*/
/*#datepickerReport2From, #datepickerReport2To
{
    margin-left:2px;
    width:100%;
}*/

#btnSubmit2 {
    all: initial;
    color: silver;
    background-color: white;
    font-weight:bolder;
    border-radius:3px;
}

/* Center all results in History report results */
#Container >table > tr > *
{
    text-align:center;
}

/* Entire paramenters panel for TopX report*/
#ExtremeInstructionsPanel {
    background-color: lightblue;
    margin-left: 25px;
    border-radius: 20px;
    border: solid lightblue;
}

#ExtremeInstructionsPanel > .row > .col-xs-2
{
    padding-left:5px;
}

* {
    box-sizing: border-box;
}

#btnSubmit2 {
    margin-top: 20px;
    margin-bottom: 20px;
    color: silver;
    background-color: white;
    margin-left: 1px;
}

#HistorySearchPanel {
    border-radius: 20px;
    /*margin-top:25px;*/
    margin-left: 25px;
    background-color: lightblue;
    width: 95%;
}