@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>


<p>With any questions, comments, or feedback, email <a href="mailto:postmaster@cityweatherreports.com">postmaster@cityweatherreports.com</a><br />
</p>

