@{
    ViewData["Title"] = "Randall J. Smith";
}
<h2>@ViewData["Title"]</h2>

<p>Feel free to contact me with questions or comments. Here is my contact information:</p>

<address>
    4773 Windsong St.<br />
    Sacramento, CA 95834<br />
    <abbr title="Phone">P:</abbr>
    916.903.2403
</address>

<address>
    <strong>Email</strong> <a href="mailto:postmaster@cityweatherreports.com">postmaster@cityweatherreports.com</a><br />
    @*<strong></strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>
